{% extends 'main.html' %}

{% block content %}
    <h1> Reset Password </h1>

    <form method="POST">
        {% csrf_token %}

        <div class="form--field--wrapper">
            <label> Password </label>
            <input type="password" name="password1"/>
        </div>

        <div class="form--field--wrapper">
            <label> Re-enter password </label>
            <input type="password" name="password2"/>
        </div>

        <div class="form--field--wrapper">
            <input class="btn btn--primary" type="submit" name="change-password" value="Change password"/>
        </div>

    </form>

{% endblock content %}